.header{
	background-color: orange;
	padding: 40px 15px 10px 15px;
}
.logo h1,.user-profile h2{
	font-size: 18px;
}
.user{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.header-row{
	align-items: baseline;
}
.nav-header ul{
	list-style-type: none;
	padding: 0px;
}
.nav-header ul li a{
	text-decoration: none;
}
.nav-header ul li{
	padding: 10px 10px;
}
.nav-header{
	display: flex;
    justify-content: center;
} 